:root{
    --verde-oscuro: #142623;
    --verde-principal: #5EA64B;
    --verde-palido: #7FA66D;
    --verde-encendido: #8BA629;
    --verdoso: #BFB526;
    --negro: #000000;
    --negro2: #2A2B2B;
    --balnco: #FFFFFF;
    --gris-oscuro: #323333;
    --white: #F5F9FA;
    --white2: #EBF3F5;

}